{% extends 'base.html.twig' %}

{% block title %} {{ meta_title }} {% endblock %}

{% block header_class %}buy{% endblock %}

{% block header_content %}
	<h1>Preorder The Dove</h1>
	<h2>Fitness Bar</h2>
{% endblock %}

{% block body %}

	<section class="">
		<div class="content">

			<div class="clearfix mxn3 flex flex-wrap">
				<div class="col-12 sm-col-12 px3">

					<div id="loader" class="center"><i class="black fas fa-3x fa-cog fa-spin"></i></div>

					<div id='product-component-97843fb8d1c'></div>

				</div>
			</div>

		</div>
	</section>

{% endblock %}