<footer>

	<p class="mb2">
		<a class="pill" href="https://twitter.com/DoveFitnessBar"><i class="fab fa-twitter"></i> Follow us</a>
		<a class="pill" href="https://www.instagram.com/dovefitnessbar/"><i class="fab fa-instagram"></i> Follow us</a>
		<a class="pill" href="https://www.facebook.com/Dove-Fitness-Bar-493619281072027/"><i class="fab fa-facebook"></i> Like us</a>
	</p>

	<p class="mb2">&copy; Copyright 2018 | All rights reserved DoveFitnessBar.com</p>

	<p class="mb0">
		<a href="/">Home</a>
		<a href="/benefits.html">Benefits</a>
		<a href="/preorder-dove-fitness-bar.html">Preorder</a>
	</p>
</footer>