<section class="preorder">
	<div class="content" data-aos="zoom-in">
		<h1>Do your body good</h1>
		<h2 class="mb2">Preorder Now</h2>

		<a class="btn btn-buy" href="/buy.html">Preorder Now</a>
	</div>
</section>